@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Dancing+Script:wght@600&family=Great+Vibes&family=Josefin+Sans:wght@200;300;500&family=Josefin+Slab&family=Montserrat:wght@300&family=Moon+Dance&family=Mulish&family=Noto+Serif+Toto:wght@400;500;600&family=Poppins:wght@200;300;400;500&family=Raleway:wght@100;300;400;600&family=Roboto+Slab&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

:root {
    --color: #5a5a5a;
    --bgcolor: #fff;
    --activeColor: #ed3833;
    --borderColor: #ccc;
    --bodybg: #f9f9f9;
}

a {
    text-decoration: none;
    color: var(--color);
}

img {
    cursor: pointer;
}

.flex-div {
    display: flex;
    align-items: center;
}

nav {
    padding: 5px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: var(--bgcolor);
    position: sticky;
    top: 0;
    z-index: 10;
}

.left-nav .menu-icon {
    width: 22px;
    margin-right: 25px;
}

.left-nav .logo {
    width: 100px;
}

.middle-nav .mic {
    width: 16px;
}

.middle-nav .search-box {
    border: 1px solid var(--borderColor);
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;

}

.middle-nav .search-box input {
    width: 400px;
    height: 100%;
    border: 0;
    background: transparent;
    outline: none;

}

.right-nav img {
    width: 25px;
    margin-right: 25px;

}

.right-nav .profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0;
}

/* sidebar section******************************* */
.sidebar {
    background: var(--bgcolor);
    width: 18%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 1.5%;
    padding-top: 80px;

}

.sidebar .shortcut-links a img {
    width: 22px;
    margin-right: 20px;
}

.sidebar .shortcut-links a:first-child {
    color: var(--activeColor);
}

.sidebar .shortcut-links .shorts {
    width: 18px;
    opacity: 0.6;
    margin-right: 24px;
}

.shortcut-links hr {
    opacity: 0.3;
    margin: 15px 0;
}

.shortcut-links a,
.subscribers-list a {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 7px;

}

.shortcut-links a:hover,
.subscribers-list a:hover {
    background-color: var(--borderColor);
    border-radius: 10px;
}

.subscribers-list h3 {
    font-size: 16px;
    margin: 20px 0;
    padding-left: 7px;
    color: var(--color);
    font-weight: 500;
}

.subscribers-list a img {
    border-radius: 50%;
    width: 22px;
    margin-right: 20px;
}

/* js code css start**************** */
.small-sidebar {
    width: 10%;

}

.small-sidebar a p {
    display: none;
}

.small-sidebar h3 {
    display: none;
}

.small-sidebar hr {
    width: 70%;
    margin-bottom: 25px;
}


/* js code css end**************** */

/* main body section************************ */
.container {
    background: var(--bodybg);
    padding-left: 20%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container .banner {
    width: 100%;

}

.container .banner img {
    width: 100%;
    border-radius: 10px;
}

.shiftingbg {
    padding-left: 12%;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    margin-top: 15px;
}

.video-list .thumbnail1 {
    width: 100%;
    border-radius: 5%;
}

.video-list .flex-div {
    align-items: flex-start;
    margin-top: 7px;
}

.video-list .flex-div img {
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.video-list .video-info {
    color: var(--color);
    font-size: 13px;
}

.video-info a {
    color: black;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}

.vidoe-container {
    padding-left: 2%;
}

/* new page text******************* */
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-playvideo {
    flex-basis: 69%;
}

.left-playvideo video {
    width: 100%;
}

.right-suggestedvideo {
    flex-basis: 30%;
}

.side-video-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.side-video-list a img {
    width: 200px;
}

.side-video-list .small-thumbnail {
    flex-basis: 49%;
}

.side-video-list .vid-info {
    flex-basis: 49%;
}

.side-video-list .vid-info a,
p {
    font-size: 13px;
}

.left-playvideo .tags a {
    color: #0000ff;
    font-size: 13px;
}

.left-playvideo h3 {
    font-weight: 600;
    font-size: 22px;
}

.play-video-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5px;
    font-size: 13px;

}

.play-video-info div {
    margin-top: 8px;
}

.play-video-info a {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;


}

.play-video-info a img {
    width: 19px;
    margin-right: 6px;
}

.left-playvideo hr {
    border: 0;
    height: 1px;
    background: var(--borderColor);
    margin: 10px 0;
}

.publisher {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.publisher div {
    flex: 1;
    line-height: 18px;
}

.publisher img {
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.publisher div p {
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

.publisher span {
    font-size: 13px;
    color: var(--color);
}

.publisher button {
    background: var(--activeColor);
    padding: 8px 13px;
    border: none;
    color: white;
    cursor: pointer;
    outline: 0;
    border-radius: 4px;
}

.video-des {
    padding-left: 54px;
    margin: 15px 0;

}

.video-des p {
    font-size: 14px;
    color: #5a5a5a;
    margin-bottom: 4px;
}

.video-des h4 {
    font-size: 14px;
    color: var(--color);
    margin-top: 15px;
}

.addcomment {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.addcomment img,
.old-comments img {
    width: 35px;
    border-radius: 50%;
    margin-right: 13px;
}

.addcomment input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--borderColor);
    width: 100%;
    padding-top: 10px;
    background-color: transparent;
}

.old-comments {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.old-comments h3 {
    font-size: 14px;
    margin-bottom: 2px;
}

.old-comments h3 span {
    font-size: 12px;
    color: var(--color);
    margin-left: 8px;
}

.comment-actions{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
}
.comment-actions img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}
.comment-actions span{
    margin-right: 20px;
    color: var(--color);
}
.comment-actions a{
    color: #0000ff;
}
/* end of new page text******************* */

@media (max-width:900px) {
    .middle-nav .search-box input {
        width: 200px;
        
    }

    .menu-icon {
        display: none;

    }

    .sidebar {
        display: none;
    }

    .container,
    .shiftingbg {
        padding-left: 5%;
        padding-right: 5%;
    }

    .right-nav .hide-on-small-screen {
        display: none;
    }

    .right-nav .profile {
        display: block;
        width: 35px;
    }

    .middle-nav .mic {
        display: none;
    }

    .left-playvideo {
        flex-basis: 100%;
    }
    .right-suggestedvideo{
        flex-basis: 100%;
    }
    .video-des {
        padding-left: 10px;
        
    
    }
}

@media (max-width:500px) {
    .middle-nav .search-box input {
        width: 70px;
        
    }
}
